!includedir /etc/mysql/conf.d/
!includedir /etc/mysql/mysql.conf.d/

[client-server]
database = avito_parser
user = avito_user
password = avito_parser
default-character-set = utf8


[client]
database = avito_parser
user = avito_user
password = avito_parser
default-character-set = utf8
